
.choices, .is_open {
    border: none !important;
}
.choices {
    margin-top: 5px;
    display: flex;
    /* flex-direction: column; */
    overflow: visible !important;
    width: 200px;
    box-sizing: border-box;
}
/* .choices::after{
    display: none !important;
} */
.choices * {    
    word-break: keep-all;
    overflow-wrap: normal;
    background-color: var(--cm_inactive);
}
.choices__inner {
    background-color: var(--cm_bg) !important;
    border: var(--cm_border) 1px solid !important;
    border-radius: 10px !important;
    padding: 10px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
}
.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
    background-color: var(--btn_link_disabled_border) !important;
}
.choices__list--dropdown {
    width: inherit;
    max-height: 300px;
    border-color: var(--cm_active) !important;
    border-radius: 10px;
    margin-top: 4px !important;
}

.choices__list--single {
    width: initial !important;
    position: relative;
    border-radius: 5px;
    background: none;
}
.choices__item--selectable {
    background: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted  {
    background-color: var(--cm_active) !important;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
    border: none;
    border-radius: 10px;
    background-color: #00000000
}
.choices__input {
    background-color: var(--cm_bg) !important;
    color: whitesmoke !important;
    padding: 10px !important;
}