#right_column {
    width: 65%;
    height: calc(600px - 48px - 20px);
    padding: 10px 0;
    overflow-y: scroll;
    // padding-right: 10px;
}
#right_column > .container {
    position: relative;
    height: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#right_column .toggle {
    right: 0;
}
.subcategory {
    margin: 10px 0;
    margin-left: 30px;
}
.btn_settings {
    margin-left: auto;
    width: 107px;
}