#right_column {
  width: 65%;
  height: 532px;
  overflow-y: scroll;
}

#right_column > .container {
  position: relative;
  height: 12px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
}

#right_column .toggle {
  position: absolute;
  right: 20px;
  transform: translateX(-50%);
}

.subcategory {
  margin: 10px 0;
  margin-left: 30px;
}

.btn_settings {
  position: absolute;
  right: 20px;
  width: 107px;
}