#connection_checker_container {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#connection_checker_status {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#connection_checker_status > * {
    height: 10px;
}