$p: 20px;
$p2: $p * 2;
@mixin flex-column($ai: align-items) {
    display: flex;
    flex-direction: column;
    align-items: $ai;
}

.block {
    width: calc(100% - $p2);
    height: calc(100% - $p2);
    position: relative;
    padding: $p;
    // overflow-y: scroll;
}
