.dc_loader {
    position: absolute;
    display: flex;
    gap: 4px;
    padding: 5px;
    width: min-content;
    align-items: center;
    justify-content: center;
}
.dc_loader > span {
    width: 6px;
    height: 6px;
    background: #4f545c; /* Серый как в Discord */
    display: inline-block;
    border-radius: 3px;
    animation: dc-bounce 1.3s infinite ease-in-out;
}

.dc_loader span:nth-child(1) {
    animation-delay: 0s;
}
.dc_loader span:nth-child(2) {
    animation-delay: 0.15s;
}
.dc_loader span:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes dc-bounce {
    0%, 80%, 100% {
        transform: scale(1);
        background-color: #4f545c; /* серый */
        opacity: .6;
    }
    40% {
        transform: scale(1.2);
        background-color: #b9bbbe; /* светлее при “прыжке” */
        opacity: 1;
    }
}
