#status_block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#status_block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#btn_service {
  margin-top: 10px;
}

#service_status {
  font-weight: 900;
}

#strategy_label {
  margin-top: 10px;
}