.setting_block {
    // background-color: unset !important;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns:max-content 1fr min-content;
    grid-template-areas: 
    "a b c"
    "d d c"
    ;
    row-gap: 5px;
    padding: 12px 20px !important;
    width: calc(100% - 40px);
    margin: 0 !important;
    font-weight: bold;
    .description {
        grid-area: d;
        font-weight: 400;
        color: var(--color_common);
        position: relative;
        overflow-wrap: break-word;
        width: 100%;
    }
    & > input[type=checkbox] {
        grid-area: c;
        align-self: center;
        justify-self: center;
        margin-left: 10px;
    }
}

.base_setting_text {
    display: flex;
    gap: 10px;
}
